@model IEnumerable<TracNghiemOnline.Models.Cauhoi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Noidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dethi)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.DapAns)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Da)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dethi.Id)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DapAns.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
