@model TracNghiemOnline.Models.Dethi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dethi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlCau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlCau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noidung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lophoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lophoc.Tenlop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monhoc)
        </dt>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
